@model PostCreateViewModel
<h2>Post Silme</h2>
<hr />
<p>
    <b>@Model.Title</b> postunu silmek istiyormusun?
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="@Model.PostId" name="id">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="List" class="btn btn-primary">Hayır</a>
    </form>
</p>