@model PostCreateViewModel
<form action="Edit" method="post">
    <div class="row">
        <div class="col-9">
            <div class="bg-dark p-4">
                <h1>Post Edit</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PostId">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Url" class="form-label"></label>
                    <input asp-for="Url" class="form-control">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Content" class="form-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                @if (User.FindFirstValue(ClaimTypes.Role) == "admin")
                {
                    <div class="form-check mb-3">
                        <input asp-for="IsActive" class="form-check-input">
                        <label asp-for="IsActive" class="form-check-label"></label>
                    </div>
                }
                <button type="submit" class="btn btn-primary">Kaydet</button>

            </div>
        </div>
        <div class="col-3">
            <div class="bg-dark p-4">
                @foreach (var item in ViewBag.Tags)
                {
                    <div class="form-check">
                        <input type="checkbox" class="from-check-input" name="tagIds" value="@item.TagId" id="tag_@item.TagId"
                        @(Model.Tags.Any(x => x.TagId == item.TagId) ? "checked" : "")>
                        <label for="tag_@item.TagId" class="form-check-label">
                            @item.Text
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: '#Content',
            skin: 'oxide-dark',
            content_style: 'body { background-color: #2c2c2c; color: #f5f5f5; }'
        })
    </script>
}
