<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt pariatur nostrum dicta saepe unde soluta sit delectus maxime explicabo sequi modi quod dolorem ipsam, accusamus nisi quae ullam iste eveniet.</p>
        <button class="btn btn-primary">Button</button>
    </div>
</div>