<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Techcareer.net</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Bootcamp" asp-action="List">Bootcamps</a></li>
        </ul>
    </div>
</nav>