@model ResetPasswordModel

<h2>Lütfen yeni şifrenizi girin.</h2>
<hr />
<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Token">
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"></input>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"></input>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Token">
    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control"></input>
    </div>
    <button class="btn btn-primary" type="submit">Gönder</button>
</form>