html {
    font-size: 14px;
    background-color: #121212;
    color: #e0e0e0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    /* Odaklanma durumunda gölge renkleri karanlýk tema için uyarlanmýþtýr */
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25), 0 0 0 0.25rem #1a73e8;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #121212;
    color: #ffffff;
}

a, .btn-link, .nav-link {
    color: #79a7ff; /* Açýk mavi link rengi, karanlýk temada daha iyi görünür */
}

.form-control, .form-check-input {
    background-color: #2c2c2c; /* Daha koyu arka plan rengi form elemanlarý için */
    border: 1px solid #444; /* Kenarlýk rengi */
    color: #e0e0e0; /* Metin rengi */
}

/* Karanlýk tema için tablo ve tablo kenarlýklarý genel stilini ayarlar */
.table {
    background-color: #242424; /* Karanlýk arka plan rengi */
    color: #e0e0e0; /* Açýk gri metin rengi, okunabilirlik için */
}

.table-bordered {
    border: 1px solid #444; /* Kenarlýk rengi, karanlýk temaya uyumlu */
}

/* Karanlýk tema için tablo baþlýklarýný ayarlar */
.table thead {
    background-color: #343434; /* Baþlýklar için biraz daha koyu arka plan rengi */
    color: #ffffff; /* Beyaz metin rengi */
}

/* Karanlýk tema için tablo hücrelerini ayarlar */
.table td, .table th {
    color: #e0e0e0; /* Açýk gri metin rengi, okunabilirlik için */
}

/* Butonlar için metin rengi */
.btn {
    color: #ffffff; /* Beyaz metin rengi */
}
